@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.auth-form-shadow {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.08);
}

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  :root {
    --sidebar-width: 13.75rem;
    --header-height: 4rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
